.Produto{
    background-color: rgb(167, 46, 46);
    margin-bottom: 1rem;
    border-bottom: 1rem solid rgba(236, 213, 3, 0.973);
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 10px;
border: solid rgba(245, 229, 4, 0.986);
margin-right: 40px;

}

h1{
    
text-align: center;
    border-bottom: 5px solid rgba(252, 248, 2, 0.89);
    margin-top: 70px;
padding-bottom: 20px;
padding-top: 2%;

}

 .first{
    color: rgba(235, 212, 7, 0.966);
    padding-bottom: 
    background-color rgba(214, 226, 211, 0.808);
    padding-bottom:5px;
    text-align: center;
}

p{
    color: rgb(237, 241, 240);
    text-align: center;
}