.Produto{
    background-color: rgba(15, 15, 15, 0.842);
    margin-bottom: 1rem;
    border-bottom: 1rem solid rgb(245, 65, 0);
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 10px;
border: solid orangered;
margin: center;
display: flex;
align-items: center;
flex-direction: column;
text-decoration-skip: 10p;
margin-bottom: 20px;
padding-bottom: 40px;
padding-left: 10px;
padding-right: 30px;
width: 690px;
height: 460px;

/*Corpo da Pagina Vermelho e Bordas Amarelas*/

}

h1{

text-align: center;
color: rgb(247, 247, 247);
border-radius: 20px;
padding-top: 10px;
margin-bottom:  40px;
background-color: orangered;
width: 390px;
padding: right 600px;
margin-left: 170px;
padding-bottom: 15px;






/*Linha Amarela */

}

 .first{
    color: rgb(236, 233, 227);
     text-align: center;
    font-family: sans-serif;
    border: solid rgb(245, 245, 245);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: orangered;
    border-radius: 10px;
    border-top: 10px;
    margin-top: 30px;
    

    
    


        
    
}
/* Cor dos Textos  */

/*Cor da Borda Verde*/
img{
    display: none;
    align-self: center;
    border-radius: 10px;
    border: solid orangered;
    margin-top: 20px;

}
button{
   margin: 15px;
   border-radius: 10px;
    border: solid rgba(14, 13, 13, 0.877);
    font-size: small;
    font-family:sans-serif;
}


