.Produto{
    background-color: rgb(167, 46, 46);
    margin-bottom: 1rem;
    border-bottom: 1rem solid rgba(236, 213, 3, 0.973);
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 10px;
border: solid rgba(245, 229, 4, 0.986);
margin-right: 40px;

}

h1{
    border-bottom: 5px solid rgba(252, 206, 2, 0.884);
    margin-top: 70px;
padding-bottom: 30px;
padding-top: 5%;

}

 .first{
    color: rgba(189, 207, 20, 0.966);
    padding-bottom: 
    background-color rgba(240, 241, 238, 0.973);
        text-align: center;
    font-family: sans-serif;
}



img{
    border: solid rgb(147, 199, 75);
}
